<div>
  <button class="btn btn-default btn-sm" (click)="createUser()">Add</button>
  <div class="container">
    <ul>
      <li *ngFor="let user of listUsers" class="list-group-item">
        <div class="container">
          <div class="card" style="width: 18rem;">
            <img src="{{ user.avatar }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ user.name }}</h5>
              <button
                class="btn btn-default btn-sm"
                [routerLink]="['/detailUser', user.id]"
              >
                Update
              </button>
              <button
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm pull-right"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
